<%= componentName %>-main()
  //

<%= componentName %>-mods()
  //

<%= componentName %>-elements()
  //

.<%= componentName %>
  <%= componentName %>-main()
  <%= componentName %>-mods()
  <%= componentName %>-elements()
